@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container ">
    <div class="well">
        <div class="text-center">
            <h2>Pennsylvania Government Privacy Policy</h2>
        </div>
        <hr />
        <h4><i class="fa fa-hand-o-right"></i> PRIVACY POLICY</h4>
        <p class="textIndent30">
            Thank you for visiting the Commonwealth of Pennsylvania’s website. We are committed to maintaining your privacy. This policy addresses the collection, security and access to information that may be obtained through the use of our site. This policy covers the following topics:
            <ul>
                <li> Information Collected</li>
                <li> Public Disclosure</li>
                <li> Access to User Profiles</li>
                <li> Choice</li>
                <li> Cookies</li>
                <li> Security​</li>
                <li> Link Disclaimer</li>
                <li> Information Disclaimer</li>
            </ul>
        </p>

        <h4> <i class="fa fa-hand-o-right"></i> INFORMATION COLLECTED</h4>
        <p class="textIndent30">
            As part of standard Internet practice we collect the following information when you visit our sites:
            <ul>

                <li> Your IP address, a number automatically assigned to your computer when you are using the internet;</li>
                <li> The type of browser and operating system used to access our site;</li>
                <li> The Internet address of the website from which you linked directly to our site;</li>
                <li> The pages you visit within the commonwealth’s site; and</li>
                <li> The links made to other websites through this site.</li>
            </ul>
        </p>
        <p class="textIndent30">This information is collected for statistical analysis using standard third-party software programs to create summary statistics. The statistics are used for the purpose of determining what information is of most and least interest to all visitors and identifying system performance or problem areas. This information is not collected for commercial marketing purposes. The Commonwealth does not sell information collected online. Any personally identifiable information that you voluntarily provide will be collected. Personally identifiable information may include an email address or any other information you submit via a website when completing an application, form, or survey online. The information collected, whether or not personally identifiable, is not limited to text characters and may include audio, video and other graphic formats you send us. Information is retained in accordance with existing laws and other commonwealth policies.</p>

        <h4><i class="fa fa-hand-o-right"></i> Public Disclosure</h4>
        <p class="textIndent30">As a general rule, the Commonwealth does not disclose any personally identifiable information collected online except where you have given us permission, or where the information is public information under the Pennsylvania Right to Know Act 65 P.S. 66.1 et seq., or other applicable laws. Visitors should be aware that information collected by the Commonwealth on its websites may be subject to examination and inspection, if such information is a public record and not otherwise protected from disclosure.</p>

        <h4><i class="fa fa-hand-o-right"></i> ACCESS TO USER PROFILES</h4>
        <p class="textIndent30">Any personally identifiable information you enter in a user profile will be open and accessible to you for review and modification.</p>

        <h4><i class="fa fa-hand-o-right"></i> CHOICE</h4>
        <p class="textIndent30">You may decline participation in any activity that asks for information (i.e., surveys or emails). Your choice to not participate will have no effect on your ability to view information on the commonwealth’s websites.</p>

        <h4><i class="fa fa-hand-o-right"></i> COOKIES</h4>
        <p class="textIndent30">We may customize your browsing experience by using “cookies” to store a randomly generated identifying tag on your computer. (Cookies are simple text files stored by your web browser and they provide a method of distinguishing among visitors to the websites.) You can refuse the cookie or delete the cookie file from your computer at any time by using any one of a number of widely available methods.</p>
        <p class="textIndent30">Commonwealth policy does not allow for the use of persistent cookies. Cookies created on your computer by using our websites do not contain personally identifiable information and do not compromise your privacy or security.</p>

        <h4><i class="fa fa-hand-o-right"></i> SECURITY</h4>
        <p class="textIndent30">As part of our continuing commitment to the security of electronic content as well as the electronic transmission of information, the Commonwealth has taken steps to safeguard the submission of information by implementing detailed technology and security policies, which can be viewed at the Office of Administration, Office for Information Technology website.</p>
        <p class="textIndent30">Security measures have been integrated into the design, implementation and day-to-day operations of the entire operating environment.</p>
        <p class="textIndent30">In certain instances, you may receive or create a password to access or submit personal information. You should not divulge your password to anyone. The Commonwealth will never ask you for your password in an unsolicited phone call or e-mail. When you are finished with sites that are password protected, you should exit the page.</p>

        <h4><i class="fa fa-hand-o-right"></i> LINK DISCLAIMER</h4>
        <p class="textIndent30">The Commonwealth provides links to government agencies and other organizations. A link does not constitute an endorsement of content, viewpoint, policies, products or services of that web site.</p>
        <p class="textIndent30">Once you link to another web site not maintained by the Commonwealth, you are subject to the terms and conditions of that website, including but not limited to its privacy policy. You will be notified prior to exiting the commonwealth website.</p>

        <h4><i class="fa fa-hand-o-right"></i> INFORMATION DISCLAIMER</h4>
        <p class="textIndent30">Information provided on the commonwealth’s websites is intended to allow the public immediate access to public information. While all attempts are made to provide accurate, current and reliable information we recognize the possibility of human and/or mechanical error. Therefore, the Commonwealth of Pennsylvania, its employees, officers and agencies expressly deny any warranty of the accuracy, reliability or timeliness of any information published by this system and shall not be held liable for any losses caused by reliance upon the accuracy, reliability or timeliness of such information. Any person who relies upon such information obtained from this system does so at his or her own risk.</p>

        <h4><i class="fa fa-hand-o-right"></i> CONTACT INFORMATION</h4>
        <p class="textIndent30">If you have any questions or comments about the information presented in this Privacy Policy, you can contact the Commonwealth Office of Administration/Office for Information Technology as follows:</p>
        <p >By Fax: 717-787-4523<br>By Mail: 209 Finance Building, Harrisburg, PA 17120</p>
    </div>


</div>
