@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container well">
    <div class="row ">

        <div class="col-lg-2 col-md-2 col-sm-6 ">
            <h4>Get in touch</h4>
            <address>
                <b>Board of Pardons</b> <br />
                333 Market Street<br />
                15th Floor<br />
                Harrisburg, PA 17126<br />
                Phone:(717) 787-2596<br />
            </address>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-6  map">

            <div id="gmap-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Ahmedabad,+Gujarat,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div>
            <style>
                #gmap-display .text-marker {
                    max-width: none !important;
                    background: none !important;
                }

                img {
                    max-width: none;
                }
            </style>

        </div>

    </div>
</div>
