<br style="page-break-before: always;" />
<table border="1" cellspacing="0" cellpadding="5"  >
    <tbody>
        <tr>
            <td width="726" valign="top" style="background-color:lightgray;">
                <p align="center">
                    <strong>Section 5: Purpose of Application</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="726" valign="top">
                <p>
                    For what reason(s) are you seeking clemency? (Check all that apply)
                </p>
                <p>
                    <img src="###AquireCitizenship###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkAquireCitizenship" value="Aquire Citizenship" />&nbsp;Aquire Citizenship
                </p>
                <p>
                    <img src="###Adoption###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkAdoption" value="Adoption/Foster Care of a Child"    />&nbsp;Adoption/Foster Care of a Child
                </p>
                <p>
                    <img src="###CivicActivities###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkCivicActivities" value="Civic Activities/Volunteer Opportunities" />&nbsp;Civic Activities/Volunteer Opportunities (i.e. Coaching, Boy/Girl Scouts, School Activities, Mentoring Programs) 
                </p>
                <p>
                    <img src="###Education###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkEducation" value="Education" />&nbsp;Education
                </p>
                <p>
                    <img src="###Employment###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkEmployment" value="Employment" />&nbsp;Employment
                </p>
                <p>
                    <img src="###GunPermit###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkGunPermit" value="Gun Permit"  />&nbsp;Gun Permit
                </p>
                <p>
                    <img src="###Housing###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkHousing" value="Housing " />&nbsp;Housing
                </p>
                <p>
                    <img src="###Licensures###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkLicensures" value="Licensures"  />&nbsp;Licensures
                </p>
                <p>
                    <img src="###MilitaryService###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkMilitaryService" value="Military Service"   />&nbsp;Military Service
                </p>                 
                <p>
                    <img src="###TravelingOutside###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkTravelingOutside" value="Traveling Outside of the United States"  />&nbsp;Traveling Outside of the United States
                </p>
                <p>
                    <img src="###Other###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkOther" value="Other" />Other (please specify)  <u>###Specifications###</u>
                </p>
                <p>
                    With regard to your selected reason(s), please specify in detail why you are seeking clemency.
                </p>
                <p>
                    <u>###Reason###</u>
                </p>
                <p>
                    (Response Continued on Supplement <img src="###NoField###" height="12" width="12" /> &nbsp; Yes <img src="###NoField###" height="12" width="12" /> &nbsp; No)
                </p>
            </td>
        </tr>
        <tr>
            <td width="726" valign="top">
                <p>
                    What efforts have you made to rehabilitate and improve yourself?
                </p>
                <p>
                    <u>###Rehabilitations###</u>
                </p>
                <p>
                    (Response Continued on Supplement <img src="###NoField###" height="12" width="12" /> &nbsp; Yes <img src="###NoField###" height="12" width="12" /> &nbsp; No)
                </p>
            </td>
        </tr>
        <tr>
            <td width="726" valign="top">
                <p>
                    Inmates eligible for parole:
                </p>
                <p>
                    What purpose will clemency serve that parole will not?
                </p>
                <p>
                    <u>###Contributions###</u>
                </p>
                <p>
                    (Response Continued on Supplement <img src="###NoField###" height="12" width="12" /> &nbsp; Yes <img src="###NoField###" height="12" width="12" /> &nbsp; No)
                </p>
            </td>
        </tr>
    </tbody>
</table>