<br />
<table border="1" cellspacing="0" cellpadding="5" style="page-break-before: always;">
    <tbody>
        <tr>
            <td width="725" valign="top" style="background-color:lightgray;">
                <p align="center">
                    <strong>Section 6: Submitting Your Application</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="725" valign="top" style="padding:5px 5px 5px 5px;">
                <p>
                    <strong> </strong>
                </p>
                <ul>
                    <li>
                        <strong>Read the Filing Instructions before you submit your application for filing.</strong>
                    </li>
                </ul>
                <p>
                    <strong> </strong>
                </p>
                <ul>
                    <li>
                        <strong>
                            The application with your original signature, copies and the optional supporting documents <u>must be mailed or hand delivered </u>
                            to the following address:
                        </strong>
                    </li>
                </ul>
                <div style="padding-left:50px">
                    <p>
                        <strong> </strong>
                    </p>
                    <p>
                        <strong>Pennsylvania Board of Pardons</strong>
                    </p>
                    <p>
                        <strong>333 Market Street, 15<sup>th</sup> Floor</strong>
                    </p>
                    <p>
                        <strong>Harrisburg, PA 17126-0333</strong>
                    </p>
                    <p align="center">
                        <strong></strong>
                    </p>
                </div>
                <ul>
                    <li>
                        <strong>
                            Your application <u>will not</u> be accepted or filed without the filing fee. See Filing Instruction 6 for information regarding
                            the filing fee.
                        </strong>
                    </li>
                    <li>
                        <strong>Emailed applications <u>will not</u> be accepted or filed.</strong>
                    </li>
                    <li>
                        <strong><u>Do not</u> permanently bind your application and the optional supporting documents. </strong>
                    </li>
                    <li>
                        <p>
                            <strong> </strong>
                        </p>
                    </li>
                    <li>
                        <strong>
                            Written notification must be provided to the Board of Pardons office if you decide to withdraw your application at any time.
                        </strong>
                    </li>
                </ul>

            </td>
        </tr>
    </tbody>
</table>
<br />
<table border="1" cellspacing="0" cellpadding="5">
    <tbody>
        <tr>
            <td width="725" valign="top" style="background-color:lightgray;">
                <p align="center">
                    <strong>Section 7: Signature</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="725" valign="top">
                <p>
                    My signature is verification that I have completed this application truthfully and accurately, and I understand that my statements herein
                    are made subject to the penalties of 18 Pa.C.S. §4904 (relating to unsworn falsification to authorities).
                    <br />
                    <br />
                    By my signature, I acknowledge that I understand the following:
                    <br />
                    <div style="padding-left:50px">
                        <ul>
                            <li>
                                Only the convictions provided in Section 3 of this application will be considered for clemency by the Board.
                            </li>
                            <li>
                                This application will not be accepted or filed until all questions have been answered.
                            </li>
                            <li>
                                This application will not be accepted or filed without the filing fee.
                            </li>
                            <li>
                                This application will not be accepted or filed until the rules of the Board of Pardons have been met.
                            </li>
                        </ul>
                    </div>
                    <br />
                    <br />
                    <u><img src="###sign1###" height="100" width="300"></u> 
                    <u>###date1###</u>
                    <br />
                    <br />
                    Applicant’s Signature: Date:
                </p>
            </td>
        </tr>
        <tr>
            <td width="725" valign="top">
                <p>
                    In accordance to the Board’s Regulation 37 Pa. Code § 81.282:
                    <br />
                    <br />
                    The applicant may be represented by legal counsel or another person designated by the applicant. The applicant may also be represented by a
                    legal guardian, next friend or other person authorized by law to act on behalf of the applicant. If confined, the applicant may request
                    representation from the Department of Corrections.
                    <br />
                    <br />
                    <u><img src="###sign2###" height="100" width="300"></u> 
                    <u>###date2###</u>
                    <br />
                    <br />
                    Signature of a legal guardian, next friend or other Date:
                    <br />
                    person authorized by law to act on behalf of the applicant:
                </p>
            </td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>
