<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

</head>
<body>
    <div style="width:942px;font-family:Calibri; font-size:8pt;line-height:18px;">
        <p>
            <strong>Revised: 1/2016</strong>
        </p>
        <p align="center">
            <strong>Pennsylvania Board of Pardons</strong><br />
            <strong>Commonwealth of Pennsylvania</strong><br />
            <strong>Application for Clemency</strong><br />
        </p>
        <br />
        <p>
            <strong>
                Important:&nbsp;&nbsp;This application should be completed by <u>incarcerated</u> applicants only. The application must be typed or neatly printed. All questions
                must be answered. Please answer “N/A” for questions that are not applicable to you.
            </strong>
        </p>
        <br />
        <table border="1" cellspacing="0" cellpadding="5">
            <tbody>
                <tr>
                    <td width="736" colspan="3" valign="top" align="left" style="background-color:#736F6E !important;">
                        <strong> Official Use Only. Do not complete this Section.</strong>
                    </td>
                </tr>
                <tr>
                    <td width="246" valign="top">
                        <p>
                            Application Number: ###ApplicationNo###
                        </p>
                    </td>
                    <td width="246" valign="top">
                        <p>
                            Board of Pardons Number: ###PardonNumber###
                        </p>
                    </td>
                    <td width="244" valign="top">
                        <p>
                            Session Date: ###SessionDate###
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <strong></strong>
        </p>
        <p>
            <strong></strong>
        </p>
        <br />
        <table border="1" cellspacing="0" cellpadding="5">
            <tbody>
                <tr>
                    <!--<td width="736" colspan="5" valign="top" style="background-color:lightgray;">-->
                    <td width="736" colspan="5" valign="top" align="center" style="background-color:#736F6E !important;">
                        <strong>Section 1: Type of Clemency Requested</strong>
                    </td>
                </tr>
                <tr>
                    <td width="180" valign="top">
                        <p>
                            <img src="###Imprisonment#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoImprisonment" name="rdoClemencyRequested" value="Commute Death Sentence to Life Imprisonment" />&nbsp;Commute Death Sentence to Life Imprisonment
                        </p>
                    </td>
                    <td width="192" valign="top">
                        <p>
                            <img src="###Parole#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoParole" name="rdoClemencyRequested" value="Commute Life Imprisonment to Life on Parole" />&nbsp;Commute Life Imprisonment to Life on Parole
                        </p>
                    </td>
                    <td width="144" valign="top">
                        <p>
                            <img src="###MinimumSentence#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoMinimumSentence" name="rdoClemencyRequested" value="Commute Minimum Sentence" />&nbsp;Commute Minimum Sentence
                        </p>
                    </td>
                    <td width="144" valign="top">
                        <p>
                            <img src="###MaximumSentence#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoMaximumSentence" name="rdoClemencyRequested" value="Commute Maximum Sentence" />&nbsp;Commute Maximum Sentence
                        </p>
                    </td>
                    <td width="76" valign="top">
                        <p>
                            <img src="###Pardon#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoPardon" name="rdoClemencyRequested" value="Pardon" />&nbsp;Pardon
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="736" colspan="5" valign="top">
                        <p>
                            Sentence:
                        </p>
                        <p>
                            <img src="###Death#Sentence###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoDeath" name="rdoSentence" value="Death" />&nbsp;Death
                            <img src="###Life#Sentence###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoLife" name="rdoSentence" value="Life" />&nbsp;Life
                            <img src="###MinMax#Sentence###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoMinMax" name="rdoSentence" value="Min/Max" />&nbsp;Min/Max &nbsp;&nbsp;&nbsp;&nbsp; Sentence (Minimum Date: <u>###MinimumDate###</u> Maximum Date: <u>###MaximumDate###</u>)
                            
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="736" colspan="5" valign="top">
                        <p>
                            Have you previously filed a clemency application in Pennsylvania? 
                            <img src="###Yes#HaveFiled###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoYes" name="rdoHaveFiled" value="Yes" />&nbsp;Yes
                            <img src="###No#HaveFiled###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoHaveFiled" value="No" />&nbsp;No
                        </p>
                        <p>
                            If you answered yes, state the date(s) of your previous application(s) and application number(s) if known:
                            <u>###Previous###</u>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="736" colspan="5" valign="top">
                        <p>
                            Have you previously filed a clemency application in another state or with the federal government? <!--<u>###OtherState###</u>-->
                            <img src="###Yes#OtherState###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoYes" name="rdoOtherState" value="Yes" />&nbsp;Yes
                            <img src="###No#OtherState###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoOtherState" value="No" />&nbsp;No
                        </p>
                        <p>
                            If you answered yes, provide the following:
                        </p>
                        <p>
                            Where filed: <u>###WhereFiled###</u> Granted: <img src="###Yes#GrantedOtherState###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoYes" name="rdoGrantedOtherState" value="Yes" />&nbsp;Yes <img src="###No#GrantedOtherState###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoGrantedOtherState" value="No" />&nbsp;No Date Granted: <u>###DateOtherStateGranted###</u>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <table border="1" cellspacing="0" cellpadding="5">
            <tbody>
                <tr>
                    <td colspan="10" width="736" valign="top" style="background-color:lightgray;">
                        <p align="center">
                            <strong>Section 2: Applicant Information</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="216" colspan="2" valign="top">
                        <p>
                            Last Name: ###LastName###
                        </p>
                    </td>
                    <td width="210" colspan="4" valign="top">
                        <p>
                            First Name: ###FirstName###
                        </p>
                    </td>
                    <td width="198" colspan="3" valign="top">
                        <p>
                            Middle Name: ###MiddleName###
                        </p>
                    </td>
                    <td width="126" valign="top">
                        <p>
                            Suffix: ###Suffix###
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="138" valign="top">
                        <p>
                            Date of Birth: ###BirthDate###
                        </p>
                    </td>
                    <td width="240" colspan="4" valign="top">
                        <p>
                            Place of Birth: ###BirthPlace###
                        </p>
                    </td>
                    <td width="156" colspan="2" valign="top">
                        <p>
                            Gender:
                        </p>
                        <p>
                            <img src="###Male#Gender###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoMale" name="rdoGender" value="Male" />&nbsp;Male
                            <img src="###Female#Gender###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoFemale" name="rdoGender" value="Female" />&nbsp;Female
                        </p>
                    </td>
                    <td width="216" colspan="3" valign="top">
                        <p>
                            Social Security Number: ###SSN###
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="750" colspan="10" valign="top">
                        <div style="text-align:left;">
                            Race (For Statistical Purposes Only): <!--###Race###-->
                            <center>
                                <img src="###WhiteCaucasian#Race###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoWhiteCaucasian" name="rdoRace" value="White/Caucasian" />&nbsp;White/Caucasian
                                <img src="###BlackAfricanAmerican#Race###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoBlackAfricanAmerican" name="rdoRace" value="Black/African American" />&nbsp;Black/African American
                                <img src="###Asian#Race###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoAsian" name="rdoRace" value="Asian" />Asian
                                <img src="###DoNotWishtoDisclose#Race###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoDoNotWishtoDisclose" name="rdoRace" value="Do Not Wish to Disclose" />&nbsp;Do Not Wish to Disclose
                                <img src="###NativeAmerican#Race###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNativeAmerican" name="rdoRace" value="Native American" />&nbsp;Native American
                                <img src="###HispanicLatino#Race###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoHispanicLatino" name="rdoRace" value="Hispanic/Latino" />&nbsp;Hispanic/Latino
                                <img src="###Other#Race###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoOther" name="rdoRace" value="Other" />&nbsp;Other
                            </center>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="534" colspan="7" valign="top">
                        <p>
                            Name of Institution: ###InstName###
                        </p>
                    </td>
                    <td width="216" colspan="3" valign="top">
                        <p>
                            Inmate Number: ###InmateNumber###
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="534" colspan="7" valign="top">
                        <p>
                            Address: ###InstAddress###
                        </p>
                    </td>
                    <td width="216" colspan="3" valign="top">
                        <p>
                            Parole Number: ###paroleNumber###
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="306" colspan="3" valign="top">
                        <p>
                            City: ###ApplicantCity###
                        </p>
                    </td>
                    <td width="252" colspan="5" valign="top">
                        <p>
                            State: ###ApplicantState###
                        </p>
                    </td>
                    <td width="192" colspan="2" valign="top">
                        <p>
                            Zip Code: ###ApplicantZip###
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="750" colspan="10" valign="top">
                        <p>
                            Aliases and Other Names: State every other name by which you have been known. Include your maiden name, names by former marriages, aliases
                            and nicknames.
                        </p>
                        <p>
                            <u>###Aliases###</u>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="354" colspan="4" valign="top">
                        <p>
                            Representation:
                        </p>
                        <p>
                            Who will represent you if you are granted a public hearing?
                        </p>
                        <p>
                            Note: Incarcerated applicants <u>may not</u> represent themselves.
                        </p>
                        <p>
                            If you do not have representation, please contact:
                        </p>
                        <p>
                            The Interagency Liaison
                        </p>
                        <p>
                            Bureau of Treatment Services
                        </p>
                        <p>
                            Pennsylvania Department of Corrections
                        </p>
                        <p>
                            1920 Technology Parkway
                        </p>
                        <p>
                            Mechanicsburg, PA 17050
                        </p>
                        <p>
                            (717) 728-0380
                        </p>
                    </td>
                    <td width="396" colspan="6" valign="top">
                        <p>
                            Representative’s Name, Address, Telephone Number &amp; Email Address
                        </p>
                        <p>
                            <u>###Title###</u>
                        </p>
                        <p>
                            <u>###Address###</u> <u>###Address2###</u>
                        </p>
                        <p>
                            <u>###CityStateZip###</u>
                        </p>
                        <p>
                            <u>###Phone###</u>
                        </p>
                    </td>
                </tr>
                <tr height="0">
                    <td width="138"></td>
                    <td width="78"></td>
                    <td width="90"></td>
                    <td width="48"></td>
                    <td width="24"></td>
                    <td width="48"></td>
                    <td width="108"></td>
                    <td width="24"></td>
                    <td width="66"></td>
                    <td width="126"></td>
                </tr>
            </tbody>
        </table>







