<br />
<table border="1" cellspacing="0" cellpadding="5" >
    <tbody>
        <tr>
            <td width="736" colspan="6" valign="top" style="background-color:lightgray;">
                <p align="center">
                    <strong>Section 3: Convictions For Which Clemency Is Requested</strong>
                </p>
                <p>
                    <strong>Important:  Only the convictions referenced in Section 3 will be considered for clemency.  See the first page of the Non-Incarcerated Applicant Filing Instructions for information regarding the required court documents and Section 3 on the second page.  Both of these will assist you in completing this section properly.</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top">
                <p>
                    <strong><u>Case #3</u></strong>
                </p>
            </td>
            <td width="144" valign="top">
                <p>
                    Date of Incident:<br /> ###DateINC###
                </p>
            </td>
            <td width="156" valign="top">
                <p>
                    County:<br /> ###ConvictCounty###
                </p>
            </td>
            <td width="156" colspan="2" valign="top">
                <p>
                    OTN Number:<br /> ###ConvictOTN###
                </p>
            </td>
            <td width="220" valign="top">
                <p>
                    Docket Number:<br /> ###ConvictDocket###
                </p>
            </td>
        </tr>
        <tr>
            <td width="372" colspan="5" rowspan="2" valign="top">
                <p>
                    Guilty :
                </p>
                <p>
                    <img src="###FoundGuilty#Guilty###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkFoundGuilty" name="rdoGuilty" value="Found Guilty" />Found Guilty
                </p>
                <p>
                    <img src="###PledGuilty#Guilty###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkPledGuilty" name="rdoGuilty" value="Pled Guilty" />Pled Guilty
                </p>
                <p>
                    <img src="###PledNoloContendere#Guilty###" height="12" width="12" /> &nbsp;<input type="checkbox" id="chkPledNoloContendere" name="rdoGuilty" value="Pled Nolo Contendere (No Contest)" />Pled Nolo Contendere (No Contest)
                </p>
            </td>
          
            <td width="364" colspan="2" valign="top">
                <p>
                    Date of Sentence: ###DateSentence###
                </p>
            </td>
        </tr>
        <tr>
            <td width="364" colspan="2" valign="top">
                <p>
                    Judge: ###ConvictJudge###
                </p>
            </td>
        </tr>
        <tr>
            <td width="736" colspan="6" valign="top">
                <p>
                    State the offense(s) and sentence(s) for this case. Sentences should include any ordered fines, costs and restitution.
                </p>
            </td>
        </tr>
        <tr>
            <td width="360" colspan="3" valign="top">
                <p>
                    Offense(s):
                </p>
                <p>
                    <u>###Offenses###</u>
                </p>
            </td>
            <td width="376" colspan="3" valign="top">
                <p>
                    Sentence(s):
                </p>
                <p>
                    <u>###Sentence###</u>
                </p>
                <p>
                    (Offenses and Sentences Continued on Supplement <img src="###NoField###" height="12" width="12" /> &nbsp; Yes <img src="###NoField###" height="12" width="12" /> &nbsp; No)
                </p>
            </td>
        </tr>
        <tr>
            <td width="736" colspan="6" valign="top">
                <p>
                    Provide the offenses that were nolle prossed, withdrawn, dismissed, dropped or found not guilty:
                </p>
                <p>
                    <u>###NotGuilty###</u>
                </p>
            </td>
        </tr>
        <tr>
            <td width="736" colspan="6" valign="top">
                <p>
                    In your own words, provide detailed facts of this incident, which <u>must</u> include how you were involved.
                </p>
                <p>
                    <u>###Facts###</u>
                </p>
                <p>
                    <em></em>
                </p>
                <p>
                    (Facts of Crime Continued on Supplement <img src="###NoField###" height="12" width="12" /> &nbsp; Yes <img src="###NoField###" height="12" width="12" /> &nbsp; No)
                </p>
            </td>
        </tr>
        <tr>
            <td width="736" colspan="6" valign="top">
                <p>
                    Have you paid your fines, costs and restitution? 
                    <img src="###Yes#HavePaid###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoYes" name="rdoHavePaid" value="Yes" />&nbsp;Yes
                    <img src="###No#HavePaid###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoNo" name="rdoHavePaid" value="No" />&nbsp;No
                </p>
                <p>
                    If you answered no, state your outstanding balance: <u>###FinesBalance###</u> Date of your last payment: <u>###LastPaymentDate###</u>
                </p>
            </td>
        </tr>
        <tr>
            <td width="736" colspan="6" valign="top">
                <p>
                    Have you ever violated your probation or parole? 
                    <img src="###Yes#ViolatedParole###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoYes" name="rdoViolatedParole" value="Yes" />&nbsp;Yes
                    <img src="###No#ViolatedParole###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoViolatedParole" value="No" />&nbsp;No
                </p>
                <p>
                    If you answered yes, was your probation or parole revoked? 
                    <img src="###Yes#ParoleRevoked###" height="12" width="12" />&nbsp;<input type="radio" id="rdoYes" name="rdoParoleRevoked" value="Yes" />&nbsp;Yes
                    <img src="###No#ParoleRevoked###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoParoleRevoked" value="No" />&nbsp;No
                </p>
            </td>
        </tr>
        <tr>
            <td width="736" colspan="6" valign="top">
                <p>
                    Is this case currently on appeal? 
                    <img src="###Yes#RevokedAppeal###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoYes" name="rdoRevokedAppeal" value="Yes" />&nbsp;Yes
                    <img src="###No#RevokedAppeal###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoRevokedAppeal" value="No" />&nbsp;No
                </p>
                <p>
                    If you answered yes, state the court where your appeal is pending: <u>###CourtAppeal###</u>
                </p>
            </td>
        </tr>
        <tr>
            <td width="736" colspan="6" valign="top">
                <p>
                    State the names of any co-defendants related to this incident:
                    <u>###Codefendents###</u>
                </p>
            </td>
        </tr>
        <tr height="0">
            <td width="61"></td>
            <td width="147"></td>
            <td width="158"></td>
            <td width="12"></td>
            <td width="147"></td>
            <td width="223"></td>
        </tr>
    </tbody>
</table>