<br />
<table border="1" cellspacing="0" cellpadding="5" >
    <tbody>
        <tr>
            <td width="736" colspan="8" valign="top" style="background-color:lightgray;">
                <p align="center">
                    <strong>Section 4: Additional Criminal History For Which Clemency Is Not Requested</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="736" colspan="8" valign="top">
                <p>
                    <strong>Subsection 4A:</strong>
                    <strong>Adult Charges and/or Convictions </strong>
                </p>
                <p>
                    Do you have other charges (convictions and non-convictions) that are <u>not to be included</u> in your clemency request? <img src="###Yes#FederalStateCharges###" height="12" width="12" /> &nbsp; Yes <img src="###No#FederalStateCharges###" height="12" width="12" /> &nbsp; No
                </p>
                <p>
                    If you answered yes, complete the following information for each federal and state charge. Charges which resulted in ARD should be included
                    in this subsection.
                </p>
            </td>
        </tr>
        <tr>
            <td width="108" valign="top">
                <p>
                    Date of Incident:
                </p>
            </td>
            <td width="132" colspan="2" valign="top">
                <p>
                    Federal or State
                </p>
                <p>
                    Charge(s)?
                </p>
            </td>
            <td width="246" colspan="3" valign="top">
                <p>
                    Offense(s):
                </p>
            </td>
            <td width="250" colspan="2" valign="top">
                <p>
                    Disposition/Sentence:
                </p>
            </td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateIncident1###</td>
            <td width="132" colspan="2" valign="top">
                <img src="###FederalCharges#OtherSF1###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoFederalCharges" name="rdoOtherSF1" value="Federal" />&nbsp;Federal
                <img src="###StateCharges#OtherSF1###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoStateCharges" name="rdoOtherSF1" value="State" />&nbsp;State 
            </td>
            <td width="246" colspan="3" valign="top">###OffensesAdditional1###</td>
            <td width="250" colspan="2" valign="top">###DispositionAdditional1###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateIncident2###</td>
            <td width="132" colspan="2" valign="top">
                <img src="###FederalCharges#OtherSF2###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoFederalCharges" name="rdoOtherSF2" value="Federal" />&nbsp;Federal
                <img src="###StateCharges#OtherSF2###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoStateCharges" name="rdoOtherSF2" value="State" />&nbsp;State 
            </td>
            <td width="246" colspan="3" valign="top">###OffensesAdditional2###</td>
            <td width="250" colspan="2" valign="top">###DispositionAdditional2###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateIncident3###</td>
            <td width="132" colspan="2" valign="top">
                <img src="###FederalCharges#OtherSF3###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoFederalCharges" name="rdoOtherSF3" value="Federal" />&nbsp;Federal
                <img src="###StateCharges#OtherSF3###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoStateCharges" name="rdoOtherSF3" value="State" />&nbsp;State 
            </td>
            <td width="246" colspan="3" valign="top">###OffensesAdditional3###</td>
            <td width="250" colspan="2" valign="top">###DispositionAdditional3###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateIncident4###</td>
            <td width="132" colspan="2" valign="top">
                <img src="###FederalCharges#OtherSF4###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoFederalCharges" name="rdoOtherSF4" value="Federal" />&nbsp;Federal
                <img src="###StateCharges#OtherSF4###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoStateCharges" name="rdoOtherSF4" value="State" />&nbsp;State
            </td>
            <td width="246" colspan="3" valign="top">###OffensesAdditional4###</td>
            <td width="250" colspan="2" valign="top">###DispositionAdditional4###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateIncident5###</td>
            <td width="132" colspan="2" valign="top">
                <img src="###FederalCharges#OtherSF5###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoFederalCharges" name="rdoOtherSF5" value="Federal" />&nbsp;Federal
                <img src="###StateCharges#OtherSF5###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoStateCharges" name="rdoOtherSF5" value="State" />&nbsp;State
            </td>
            <td width="246" colspan="3" valign="top">###OffensesAdditional5###</td>
            <td width="250" colspan="2" valign="top">###DispositionAdditional5###</td>
        </tr>
        <tr>
            <td width="736" colspan="8" valign="top">
                <p>
                    <strong>Subsection 4B: Juvenile Charges and/or Adjudications of Delinquency</strong>
                </p>
                <p>
                    Do you have any juvenile charges and/or adjudications of delinquency <u>not to be included</u> in your clemency request? 
                    <img src="###Yes#JuvineleCharges###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoYes" name="rdoJuvineleCharges" value="Yes" />&nbsp;Yes
                    <img src="###No#JuvineleCharges###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoJuvineleCharges" value="No" />&nbsp;No
                </p>
                <p>
                    If you answered yes, complete the following information for each charge. Charges which resulted in a Consent Decree should be included in
                    this subsection.
                </p>
            </td>
        </tr>
        <tr>
            <td width="108" valign="top">
                <p>
                    Date of Incident:
                </p>
            </td>
            <td width="117" valign="top">
                <p>
                    Name of the County and State:
                </p>
            </td>
            <td width="196" colspan="2" valign="top">
                <p>
                    Offense(s):
                </p>
            </td>
            <td width="84" colspan="3" valign="top">
                <p>
                    Adjudicated Delinquent: Yes or No
                </p>
            </td>
            <td width="230" valign="top">
                <p>
                    Disposition:
                </p>
            </td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateJuvenile1###</td>
            <td width="117" valign="top">###JuvenileCountyState1###</td>
            <td width="196" colspan="2" valign="top">###OffensesJuvenile1###</td>
            <td width="84" colspan="3" valign="top">
                <img src="###Yes#JuvenileDelinquent1###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoYes" name="rdoJuvenileDelinquent1" value="Yes" />&nbsp;Yes
                <img src="###No#JuvenileDelinquent1###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoJuvenileDelinquent1" value="No" />&nbsp;No
            </td> 
            <td width="230" valign="top">###DispositionJuvenile1###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateJuvenile2###</td>
            <td width="117" valign="top">###JuvenileCountyState2###</td>
            <td width="196" colspan="2" valign="top">###OffensesJuvenile2###</td>
            <td width="84" colspan="3" valign="top">
                <img src="###Yes#JuvenileDelinquent2###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoYes" name="rdoJuvenileDelinquent2" value="Yes" />&nbsp;Yes
                <img src="###No#JuvenileDelinquent2###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoJuvenileDelinquent2" value="No" />&nbsp;No
            </td>
            <td width="230" valign="top">###DispositionJuvenile2###</td>
        </tr>
        <tr>
            <td width="736" colspan="8" valign="top">
                <p>
                    <strong>Subsection 4C: Non-Traffic Citations</strong>
                </p>
                <p>
                    Have you been issued any non-traffic citations (i.e. Harassment, Underage Drinking, Disorderly Conduct) <u>not to be included</u> in your
                    clemency request? 
                    <img src="###Yes#NonTraffic###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoYes" name="rdoNonTraffic" value="Yes" />&nbsp;Yes
                    <img src="###No#NonTraffic###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoNonTraffic" value="No" />&nbsp;No
                </p>
                <p>
                    If you answered yes, complete the following information for each non-traffic citation.
                </p>
            </td>
        </tr>
        <tr>
            <td width="108" valign="top">
                <p>
                    Date of Citation:
                </p>
            </td>
            <td width="117" valign="top">
                <p>
                    Name of the County and State:
                </p>
            </td>
            <td width="231" colspan="3" valign="top">
                <p>
                    Offense(s):
                </p>
            </td>
            <td width="280" colspan="3" valign="top">
                <p>
                    Disposition/Penalty:
                </p>
            </td>
        </tr>
        <tr>
            <td width="108" valign="top">###DatenNonTraffic1###</td>
            <td width="117" valign="top">###CountyNonTraffic1###</td>
            <td width="231" colspan="3" valign="top">###OffensesNonTraffic1###</td>
            <td width="280" colspan="3" valign="top">###DispositionNonTraffic1###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DatenNonTraffic2###</td>
            <td width="117" valign="top">###CountyNonTraffic2###</td>
            <td width="231" colspan="3" valign="top">###OffensesNonTraffic2###</td>
            <td width="280" colspan="3" valign="top">###DispositionNonTraffic2###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DatenNonTraffic3###</td>
            <td width="117" valign="top">###CountyNonTraffic3###</td>
            <td width="231" colspan="3" valign="top">###OffensesNonTraffic3###</td>
            <td width="280" colspan="3" valign="top">###DispositionNonTraffic3###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DatenNonTraffic4###</td>
            <td width="117" valign="top">###CountyNonTraffic4###</td>
            <td width="231" colspan="3" valign="top">###OffensesNonTraffic4###</td>
            <td width="280" colspan="3" valign="top">###DispositionNonTraffic4###</td>
        </tr>
        <tr>
            <td width="736" colspan="8" valign="top">
                <p>
                    <strong>Subsection 4D: Traffic Citations</strong>
                </p>
                <p>
                    Have you been issued any traffic citations? 
                    <img src="###Yes#Traffic###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoYes" name="rdoTraffic" value="Yes" />&nbsp;Yes
                    <img src="###No#Traffic###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoNo" name="rdoTraffic" value="No" />&nbsp;No
                </p>
                <p>
                    If you answered yes, complete the following information for each traffic citation.
                </p>
            </td>
        </tr>
        <tr>
            <td width="108" valign="top">
                <p>
                    Date of Citation:
                </p>
            </td>
            <td width="117" valign="top">
                <p>
                    Name of the County and State:
                </p>
            </td>
            <td width="231" colspan="3" valign="top">
                <p>
                    Offense(s):
                </p>
            </td>
            <td width="280" colspan="3" valign="top">
                <p>
                    Disposition/Penalty:
                </p>
            </td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateTraffic1###</td>
            <td width="117" valign="top">###CountyTraffic1###</td>
            <td width="231" colspan="3" valign="top">###OffensesTraffic1###</td>
            <td width="280" colspan="3" valign="top">###DispositionTraffic1###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateTraffic2###</td>
            <td width="117" valign="top">###CountyTraffic2###</td>
            <td width="231" colspan="3" valign="top">###OffensesTraffic2###</td>
            <td width="280" colspan="3" valign="top">###DispositionTraffic2###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateTraffic3###</td>
            <td width="117" valign="top">###CountyTraffic3###</td>
            <td width="231" colspan="3" valign="top">###OffensesTraffic3###</td>
            <td width="280" colspan="3" valign="top">###DispositionTraffic4###</td>
        </tr>
        <tr>
            <td width="108" valign="top">###DateTraffic4###</td>
            <td width="117" valign="top">###CountyTraffic4###</td>
            <td width="231" colspan="3" valign="top">###OffensesTraffic4###</td>
            <td width="280" colspan="3" valign="top">###DispositionTraffic4###</td>
        </tr>
        <tr height="0">
            <td width="108"></td>
            <td width="117"></td>
            <td width="15"></td>
            <td width="181"></td>
            <td width="35"></td>
            <td width="30"></td>
            <td width="19"></td>
            <td width="230"></td>
        </tr>
    </tbody>
</table>
<p>
    (Additional Criminal History Continued on Supplement <img src="###NoField###" height="12" width="12" /> &nbsp; Yes <img src="###NoField###" height="12" width="12" /> &nbsp; No)
</p>