<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

</head>
<body>
    <div style="width:942px;font-family:Calibri; font-size:8pt; line-height:16px;">
        <p><b>Revised: 11/2015</b></p>

        <p align="center">
            <strong>Pennsylvania Board of Pardons</strong><br />
            <strong>Commonwealth of Pennsylvania</strong><br />
            <strong>Application for Clemency</strong>
        </p>
        <br />
        <p><strong>Important:&nbsp;&nbsp;This application should be completed by non-incarcerated applicants only. The application must be typed or neatly printed. All questions must be answered. Please answer “N/A” for questions that are not applicable to you. </strong></p>

        <br />
        <table border="1" cellspacing="0" cellpadding="5">
            <tbody>
                <tr>
                    <td width="736" colspan="4" valign="top" style="background-color:#666666;">
                        <p align="center">
                            <strong> Official Use Only. Do not complete this Section.</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="192" valign="top">
                        <p>
                            Application Number: ###ApplicationNo###
                        </p>
                    </td>
                    <td width="228" valign="top">
                        <p>
                            Board of Pardons Number: ###PardonNumber###
                        </p>
                    </td>
                    <td width="208" valign="top">
                        <p>
                            Session Date: ###SessionDate###
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <table border="1" cellspacing="0" cellpadding="5">
            <tbody>
                <tr>
                    <!--<td width="736" colspan="5" valign="top" style="background-color:lightgray;">-->
                    <td width="736" colspan="4" valign="top" style="background-color:lightgray;">
                        <p align="center">
                            <strong>Section 1: Type of Clemency Requested</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="180" valign="top"><img src="###Pardon#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoPardon" name="rdoClemencyRequested" value="Pardon" /> &nbsp;Pardon</td>
                    <td width="192" valign="top"><img src="###CommuteParole#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoCommuteParole" name="rdoClemencyRequested" value="Commute Parole" /> &nbsp;Commute Parole</td>
                    <td width="164" valign="top"><img src="###CommuteMinimumSentence#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoCommuteMinimumSentence" name="rdoClemencyRequested" value="Commute Minimum Sentence" /> &nbsp;Commute Minimum Sentence</td>
                    <td width="164" valign="top"><img src="###CommuteMaximumSentence#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoCommuteMaximumSentence" name="rdoClemencyRequested" value="Commute Maximum Sentence" /> &nbsp;Commute Maximum Sentence</td>
                </tr>
                <tr>
                    <td colspan="4" width="736" valign="top">
                        <p>
                            Have you previously filed a clemency application in Pennsylvania?
                            <img src="###Pardon#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoYes" name="rdoHaveFiled" value="Yes" /> &nbsp;Yes&nbsp;
                            <img src="###Pardon#ClemencyRequested###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoNo" name="rdoHaveFiled" value="No" /> &nbsp;No
                        </p>
                        <p>If you answered yes, state the date(s) of your previous application(s) and application number(s) if known:</p>
                        <p><u>###Previous###</u></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" width="736" valign="top">
                        <p>
                            Have you previously filed a clemency application in another state or with the federal government?
                            <img src="###Yes#OtherState###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoYes" name="rdoOtherState" value="Yes" /> &nbsp;Yes&nbsp;
                            <img src="###No#OtherState###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoNo" name="rdoOtherState" value="No" /> &nbsp;No
                        </p>

                        <p>If you answered yes, provide the following: </p>

                        <p>
                            Where filed: <u>###WhereFiled###</u> Granted:
                            <img src="###Yes#GrantedOtherState###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoYes" name="rdoGrantedOtherState" value="Yes" /> &nbsp;Yes &nbsp;
                            <img src="###No#GrantedOtherState###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoNo" name="rdoGrantedOtherState" value="No" /> &nbsp;No Date Granted: <u>###DateOtherStateGranted###</u>
                        </p>

                    </td>
                </tr>

            </tbody>
        </table>
        <br />
        <table border="1" cellspacing="0" cellpadding="5">
            <tbody>
                <tr>
                    <td colspan="4" width="736" valign="top" style="background-color:lightgray;">
                        <p align="center">
                            <strong>Section 2: Applicant Information</strong>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td width="216" valign="top">
                        <p>
                            Last Name: ###LastName###
                        </p>
                    </td>
                    <td width="198" valign="top">
                        <p>
                            First Name: ###FirstName###
                        </p>
                    </td>
                    <td width="210" valign="top">
                        <p>
                            Middle Name: ###MiddleName###
                        </p>
                    </td>
                    <td width="114" valign="top">
                        <p>
                            Suffix: ###Suffix###
                        </p>
                    </td>
                </tr>

                <tr>
                    <td width="138" valign="middle">
                        <p>
                            Date of Birth: ###BirthDate###
                        </p>
                    </td>
                    <td width="276" valign="middle">
                        <p>
                            Place of Birth (City & State): ###BirthPlace###
                        </p>
                    </td>
                    <td width="150" valign="middle">
                        <p>
                            Gender:
                            <img src="###Male#Gender###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoMale" name="rdoGender" value="Male" /> &nbsp;Male
                            <img src="###Female#Gender###" height="12" width="12" /> &nbsp;<input type="radio" id="rdoFemale" name="rdoGender" value="Female" /> &nbsp;Female
                        </p>
                    </td>
                    <td width="174" valign="middle">
                        <p>
                            Social Security Number:<br /> ###SSN###
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="13" width="738" valign="top">
                        <div style="text-align:left;">
                            Race (For Statistical Purposes Only): <!--###Race###-->
                            <img src="###WhiteCaucasian#Race###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoWhiteCaucasian" name="rdoRace" value="White/Caucasian" /> &nbsp;White/Caucasian
                            <img src="###BlackAfricanAmerican#Race###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoBlackAfricanAmerican" name="rdoRace" value="Black/African American" /> &nbsp;Black/African American
                            <img src="###Asian#Race###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoAsian" name="rdoRace" value="Asian" /> &nbsp;Asian
                            <img src="###DoNotWishtoDisclose#Race###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoDoNotWishtoDisclose" name="rdoRace" value="Do Not Wish to Disclose" /> &nbsp;Do Not Wish to Disclose
                        </div>
                        <br />
                        <div style="text-align:right;">
                            <img src="###NativeAmerican#Race###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoNativeAmerican" name="rdoRace" value="Native American" /> &nbsp;Native American
                            <img src="###HispanicLatino#Race###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoHispanicLatino" name="rdoRace" value="Hispanic/Latino" /> &nbsp;Hispanic/Latino
                            <img src="###Other#Race###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoOther" name="rdoRace" value="Other" /> &nbsp;Other
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" width="728" valign="top"><p>Address (Number and Street): ###ApplicantAddress###</p></td>
                    <td width="210" valign="top">
                        <p>Apartment Number/Floor: ###Appartment###</p>
                    </td>
                </tr>
                <tr>
                    <td width="282" valign="top">
                        <p>City: ###ApplicantCity###</p>
                    </td>
                    <td width="120" valign="top"><p>State: ###ApplicantState###</p></td>
                    <td width="114" valign="top"><p>Zip Code: ###ApplicantZip###</p></td>
                    <td width="222" valign="top"><p>County of Residence: ###ApplicantPhone###</p></td>
                </tr>

                <tr>
                    <td  width="204" valign="top">
                        <p>Home Phone Number: ###ApplicantPhone###</p>
                    </td>
                    <td  width="228" valign="top"><p>Cell Phone Number: ###CellPhone###</p></td>
                    <td colspan="2" width="306" valign="top"><p>Email Address: ###Email###</p></td>
                </tr>

                <tr>
                    <td colspan="6" width="738" valign="top">
                        <p>Aliases and Other Names: State every other name by which you have been known. Include your maiden name, names by former marriages, aliases and nicknames.</p>
                        <p><u>###Aliases###</u></p>
                    </td>
                </tr>

                <tr>
                    <td valign="top" colspan="2" width="342">
                        <p>Representation:</p>
                        <p>Who will represent you if you are granted a public hearing? </p><br />
                        <p><img src="###Self#WhoRep###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoSelf" name="rdoWhoRep" value="Self" /> &nbsp;Self</p>
                        <p><img src="###Attorney#WhoRep###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoAttorney" name="rdoWhoRep" value="Attorney" /> &nbsp;Attorney</p>
                        <p><img src="###Other#WhoRep###" height="12" width="12" /> &nbsp;<input type="checkbox" id="rdoOther" name="rdoWhoRep" value="Other" /> &nbsp;Other</p>
                    </td>
                    <td valign="top" colspan="4" width="396">

                        <p>Representative’s Name, Address, Telephone Number &amp; Email Address<br /><br />
                        <u>###Title###</u><br />
                        <u>###Address###</u> <u>###Address2###</u><br />
                        <u>###City###</u><br />
                        <u>###State###</u><br />
                        <u>###Zip###</u><br />
                        <u>###Phone###</u>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
