@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container ">
    <div class="well">
        <div class="text-center">
            <h2>FAQ</h2>
        </div>
        <h5>1. Can I obtain an application online?</h5>
        <p>Yes, click on the Clemency link and choose the type of clemency you need to apply for.</p>

        <h5>2. Do I need an attorney to apply?</h5>
        <p>No, you do not need an attorney to apply for a pardon. Please be advised that having an attorney will not expedite the process. </p>

        <h5>3. How long does the clemency process take?</h5>
        <p>Due to the proliferation of background checking since 9/11, our caseload has nearly tripled. At the current rate, it is taking approximately 3 years from receipt of an application until the Board members merit review the application to determine if a hearing will be granted. If a hearing is granted, it will be heard at the next scheduled session. Please be advised that if your application is recommended to the Governor, there is no time frame for the Governor to act on your case. </p>

        <h5>4. Can my application be expedited?</h5>
        <p>The Secretary is frequently asked to "expedite the process" to get a particular applicants case before the Board. Her answer is that it would be unfair to the other applicants who have patiently waited their turn to move an applicant to the front of the line. Every single applicant has a compelling need for clemency and we cannot engage in prioritizing those needs by moving one (1) applicant ahead of another. </p>

        <h5>5. What does a pardon do?</h5>
        <p>
            A pardon relieves any legal disability resulting from a conviction. These disabilities include, but are not limited to:
            <ul>
                <li>
                    The right to vote (only incarcerated felons suffer this disability in Pennsylvania, this varies by state)
                </li>
                <li>The right to be a juror</li>
                <li>The right to hold a public office</li>
                <li>The right to bear arms The opportunity to serve in the military</li>
                <li>The right to obtain/carry a firearm</li>
                <li>The right to travel internationally</li>
            </ul>
        </p>

        <h5>6. Will my record be cleared if Im granted a pardon?</h5>
        <p>No, a pardon does not remove, expunge, or clear the conviction from your criminal record, but makes it possible to have your record expunged. </p>

        <h5>7. How can I get my record cleared?</h5>
        <p>The only way to remove the pardoned conviction is to file a petition for expungement in the court where the conviction occurred.</p>
        <p>Under Act 134, persons convicted of a summary offense are eligible to request that their record be expunged by the Court of Common Pleas of the county where the offense took place, after a 5-year waiting period following the conviction (usually the date of payment of your fines and costs). Act 134, for the first time, allows for expungement of most summary offenses by a court without first being granted a pardon by the Governor. Act 134 (PDF)</p>

        <h5>8.  If I receive a pardon, and then am asked by an employer or future employer whether I have been convicted of a crime, can I say no?. How can I get my record cleared?</h5>
        <p>Yes, you can say that you were never convicted of a crime because of the holding by the Supreme Court of Pennsylvania in Commonwealth of Pennsylvania v. Sutley, 378 A.2d 780 (Pa. 1977). The Court held that a pardon is defined as "the exercise of the sovereign's prerogative of mercy. It completely frees the offender from the control of the state. It not only exempts him from further punishment but relieves him from all the legal disabilities resulting from his conviction It blots out the very existence of his guilt, so that, in the eye of the law, he is thereafter as innocent as if he had never committed the offense." It is recommended, though, that such a denial be explained as based on the existence of a pardon.</p>
        <p>However, in Pennsylvania a person may still be required to disclose a summary conviction after obtaining an expungement under the new Act 134. It appears that the only way for a person with a summary offense expunged under Act 134 to be legally protected in denying that they were convicted is if the expungement statute actually provided that protection.</p>

    </div>


</div>
