@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="well">
        <div class="text-center">
            <h4>Pennsylvania Board of Pardons Commonwealth of Pennsylvania Application for Clemency</h4>
        </div>
        <p><strong>Important:</strong>This application should be completed by non-incarcerated applicants only. All questions must be answered. Please answer "N/A" for questions that are not applicable to you. </p>
        <div class="row" id="formContent">
            @{Html.RenderPartial("step1");}
        </div>



    </div>
</div>
@section scripts {
    <script type="text/javascript">
        function showRequest() {
            alert(1);
            return false;
        }
    </script>
}
