@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container ">
    <div class="well">
        <div class="text-center">
            <h2>History of the Board of Pardons</h2>
        </div>
        <p>The power to pardon has appeared, in some form or another, in every version of our state constitution since the first state constitution of 1776. Indeed, prior to our first state constitution, the power to pardon can be traced to the Charter of Pennsylvania granted to William Penn by Charles II in 1681, which gave Penn the power to pardon all crimes and offenses except treason and murder and, in those cases, to grant reprieves until the pleasure of the crown might be known.</p>
        <p>The constitutions of 1790 and 1838 provided the Governor with exclusive and unfettered power to remit fines and forfeitures and grant reprieves and pardons, except in cases of impeachment. Governor William Findley (1817-1820), (who earlier was nearly impeached as State Treasurer on charges of misuse of state funds), granted 530 pardons and 774 remissions of fines and forfeitures in his single three-year term.</p>
        <p>
            Due to allegations and constant suspicion of abuse, real or imagined, by Pennsylvania Governors from 1776 to 1872, the Constitutional Convention convened in November 1872 created the Board of Pardons by adopting Article IV, §9 of the Constitution of Pennsylvania. This amendment finally brought limitations to the executive pardoning power, and it remains in place today. The Board, which first met in 1874, consisted of four members including the Lieutenant Governor, the Attorney General, and two other cabinet members who have since been replaced by gubernatorial appointees and the size of the Board has been expanded to five members by subsequent constitutional amendments. Under Article IV, §9(a) of the Constitution, a 1997 constitutional amendment established the requirement for a unanimous, instead of the previous majority, vote by the Board to recommend a commutation of a life or death sentence to the Governor. Additionally, under Article IV, §9(b), the present Board consists of five (5) members, the Lieutenant Governor, who chairs the Board; the Attorney General; and three members appointed by the Governor, with the advice and consent of a majority of the Senate, including a crime victim; a corrections expert; and a doctor of medicine, psychiatrist, or psychologist. The voters last amended these sections, which remains in the constitution today, on November 4, 1997, when both the membership and operating procedures of the Board were changed.
        </p>
    </div>


</div>
