@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="well">
        <div class="text-center">
            <h2>About Board of Pardons</h2>
        </div>
        <p>In the Commonwealth of Pennsylvania, the Board of Pardons reviews criminal cases, except impeachment to determine whether clemency should be recommended to the Governor for his approval or denial. </p>
        <p>The Board has tremendous power, as well as an awesome responsibility. Consequently, many people view the Board as a "super court" able, in effect, to adjust the sentence imposed by a lawfully constituted court of law. While the Board may have this power, the record clearly illustrates it is not used haphazardly or capriciously. Rather, the pardoning power has been used for extenuating circumstances in which the court could not act. However, if there is some legal technicality, such as the introduction of hearsay evidence, illegal confession, illegal search and seizure, etc. the court has the responsibility and the duty to resolve those matters.</p>
        <p>
            The Board of Pardons does not decide innocence or guilt. The Judicial System has that function.
        </p>
        <p>
            Some people equate hearings of the Board of Pardons with a formal hearing before a Court of Law. Board hearings are not formal, but informal. Persons who come before the Board are not sworn in or cross-examined. They appear for the purpose of pleading on applicant's behalf or stating their opposition.
        </p>
        <p>
            The important point to remember is that the applicant has already been found guilty and sentenced through the judicial process. The Board of Pardons determines whether there are sufficient reasons to recommend mercy. Thus, the Board's only consideration is whether the applicant should be granted a pardon or have their sentence reduced.
        </p>
    </div>
</div>
