@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container well">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <form class="form-horizontal" action="@Url.Action("CheckUser", "Login")" method="post">
                <fieldset>
                    <div class="form-group text-center">
                        <h4 class="form-signin-heading">Login</h4>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="inputEmail">Username</label>
                        <input type="text" id="inputEmail" name="username" class="form-control inputBorder" placeholder="Username" required="" autofocus="">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" name="password" class="form-control inputBorder" placeholder="Password" required="">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <div class="text-danger text-center">
                            @ViewBag.Message
                        </div>
                    }

                </fieldset>

            </form>
        </div>
    </div>



</div>